body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
.navbar {
    border-bottom: 1px solid palegoldenrod;
    width: 100vw;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: cursive;
    color: darkgoldenrod !important;

}

.bg-light {
    background-color: antiquewhite !important;
}

.nav-item {
    padding: 21px;
    font-size: 1.2rem;
}



.home-section {
    background-color: antiquewhite;
    /* padding: 185px 0px; */
    height: 100vh;
}

.home-row {
    padding: 185px 0px;
}

.home-intro {
    text-align: center;
    padding: 100px 0px;
}

.home-intro h1 {
    font-family: initial;

}

.home-intro h4 {
    font-size: 1.2rem;
    font-family: ui-serif;
}

.home-intro-img img {
    border-radius: 175px;
    margin: 0px 88px;
}

.fab {
    font-size: 21px;
    margin: 0px 10px;
}

.fa-linkedin {
    color: #2471A3;
}

.fa-linkedin:hover {
    color: #2980B9;
}

.fa-facebook-square {
    color: #3498DB;
}

.fa-facebook-square:hover {
    color: #2E86C1;
}

.fa-instagram {
    color: #DE3163;
}

.fa-instagram:hover {
    color: #A93226;
}

.fa-github-square {
    color: #2C3E50;

}

.fa-github-square:hover {
    color: #566573;

}

.fa-wordpress {
    color: #1F618D;
}

.fa-wordpress:hover {
    color: #1B4F72;
}

/* ---------------about-section------------ */
.about-section {
    background-color: #FBFCFC;
}

.about-body {
    padding: 100px 0px;
}

.about-img {
    width: 302px;
    height: 294px;
    border-radius: 152px;
}

#about-myself {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
}

#about-para {
    color: gray;
    margin: 10px 0px;
    padding: 3px 0px;
}

.about-icon {
    width: 25px;
    margin-right: 15px;
    margin-top: 20px;
}

.about-link {
    text-decoration: none;
    color: gray;
    margin-top: 10px;
}

/*--------------------------------skill section ------------*/
.skill-section {
    background-color: white;
}

.skill-body {

    padding: 64px 0px;
    text-align: center;
    padding-bottom: 78px;

}

.skill-body h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.skill-ul {
    display: flex;
    margin: 60px 80px;

}

.skill-ul li {
    list-style: none;
    margin: 0px 45px;
}

.skill-lang {
    font-size: 90px;
}

.fa-html5 {
    color: #D35400;
}

.fa-css3-alt {
    color: #2E86C1;
}

.fa-js-square {
    color: #F4D03F;
}

.fa-python {
    color: #154360;
}

.fa-php {
    color: #2988B7;
}


/*--------------------------------project section ------------*/
.project-section {
    background-color: #FBFCFC;
    padding: 30px 0px;

}

.project-body {
    text-align: center;
}

.project-body h1 {
    font-size: 2.3rem;
    font-weight: 700;
}

.project-body p {
    color: gray;
}

.project-cards {
    margin: 60px 0px;
}

.project-card {
    width: 18rem;
    /* margin: 68px 0px; */
    background: transparent;
    border: none;
    align-items: center;
    margin: 27px 46px;
}

/*--------------------------------contact section ------------*/
.contact-section {
    background: #F8F9F9;
}

.contact-body {
    padding: 55px 0px;
}

.contact-body h5 {
    padding-top: 50px;
    font-size: 3.5rem;
    font-family: emoji;
    color: #626567;
    text-align: center;
}

.contact-body h1 {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
}

.contact-body p {
    text-align: center;
    color: gray;
    font-size: 1.3rem;
    padding-bottom: 30px;
}

.contact-row{
    padding: 20px 0px;

}

.contact-icons{
    font-size: 60px;
    padding: 20px 0px;
}


.fa-home{
    color: #154360;
}

.fa-envelope{
    color: #E74C3C;
}

.fa-phone{
    color: #3498DB;
}


/*-----------------------------------footer section -----------------------*/
.footer-section {
    background: black;
    color: white;
    padding: 100px 0px;
}

.footer-section ul {

    display: flex;

}

.footer-section ul li {
    list-style: none;
    margin: 7px 20px;
}


/* -------------responsive for mobile----------------------- */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .container{
        width: 100vw;
    }
    
    .home-row {
        padding: 145px 0px;
    }

    .home-intro {
        text-align: center;
        padding: 25px 0px;
    }

    .home-intro h1 {
        font-family: initial;
        font-size: 1.8rem;
    }

    .home-intro h4 {
        font-size: 1rem;
        font-family: ui-serif;
    }

    .home-intro-img img {
        border-radius: 175px;
        margin: 36px 105px;
        width: 164px;
    }


    #about-myself {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 26px;
        text-align: center;
    }




    .about-body {
        padding: 31px 12px;
    }

    .about-img {
        width: 302px;
        height: 294px;
        border-radius: 152px;
        display: hidden;
        display: none;
    }

    .about-icon {
        margin-right: 0px;
        margin-top: 15px;;
    }






    /* ------------------------------skill section ------------- */
    .skill-body {
        padding: 30px 0px;
        text-align: center;
    }

    .skill-body h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .skill-ul {
        display: flex;
        margin: 60px 0px;
    }

    .skill-ul li {
        list-style: none;
        margin: 0px 6px;
    }

    .skill-lang {
        font-size: 40px;
    }



/* ----------------------------------------------- */
    
    .project-body h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }











    /* ---------------------------- */
    .contact-body {
        padding: 0px;
    }

    .contact-body h5 {
        padding-top: 25px;
        font-size: 2rem;
        font-family: emoji;
        color: #626567;
        text-align: center;
    }

    .contact-body h1 {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
    }

    .contact-body p {
        text-align: center;
        color: gray;
        font-size: 0.9rem;
        padding-bottom: 30px;
    }
    .submit{
        margin: 23px 150px;

    }

    .f_title h3{
            text-align: center;
            padding: 23px 0px;
    }

    .footer-section ul li {
        list-style: none;
        margin: 7px 15px;
    }

    .footer-section {
        background: black;
        color: white;
        padding: 30px 0px;
    }

    .footer-section ul li {
        list-style: none;
        margin: 7px 14px;
    }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}